@import "tailwindcss";

@supports (scrollbar-gutter: stable) {
  html {
    scrollbar-gutter: stable;
  }
}

@supports not (scrollbar-gutter: stable) {
  html {
    overflow-y: scroll;
  }
}

[data-sileo-toast] {
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.25));
  color: white;
}

[data-sileo-description] {
  text-align: center !important;
}
