---
import Navbar from "../components/Navbar.jsx";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { Toaster } from "sileo";
import "sileo/styles.css";
---

<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/logo-nordika.jpg" />
    <title>Nordika Wear</title>
  </head>
  <body class="bg-gray-50 text-gray-900">
    <Navbar client:load />
    <Toaster client:load position="top-center" offset={{ top: 80 }} options={{ fill: "#111827" }} />


    <main class="min-h-screen">
      <slot />
    </main>

    <Footer />
  </body>
</html>
